@{
    ViewBag.Title = "Bienvenida a la Tarea Semana 12";
}

<main>
    <section class="row" aria-labelledby="welcomeTitle">
        <h1 id="welcomeTitle">¡Bienvenido a la Tarea de la Semana 12!</h1>
        <p class="lead">Aquí puedes administrar tus compras y abonos de manera eficiente.</p>
    </section>
</main>
